.chat-main__body--messages-list
  .chat-main__message
    .chat-main__message-name
      将吾
    .caht-main__message-time
      2018/08/19  15:49:33
    .chat-main__message-body
      a
      %image.caht-main__message-body-image
