@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


.chat-main__body{
  height: calc( 100vh - 15% - 90px );
  overflow-y: scroll;
  .chat-main__body--messages-list{
    padding-top: 26px;
    padding-left: 40px;
    .chat-main__message{
      @include clearfix();
      padding: 20px 0;
      .chat-main__message-name{
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
        float: left;
      }
      .caht-main__message-time{
        color: #999;
        font-size: 12px;
        padding: 0 10px 10px;
        float: left;
      }
      .chat-main__message-body{
        color: #434a54;
        clear: both;
        %image.caht-main__message-body-image{
          border: 0;
        }
      }
    }
  }
}



